---
- name: install rsyslog
  package:
    name: rsyslog
    state: present
  become: yes

- name: rsyslog apparmor config
  template:
    src: apparmor.j2
    dest: /etc/apparmor.d/rsyslog.d/10-twitarr
  become: yes
  notify: reload rsyslog apparmor

- name: enable rsyslog
  service:
    name: rsyslog
    state: started
    enabled: true
  become: yes

- name: custom rsyslog config
  template:
    src: 10-twitarr.conf.j2
    dest: /etc/rsyslog.d/10-twitarr.conf
  become: yes
  notify: restart rsyslog
