---
- name: install swift dependencies
  package:
    name:
      - curl
      - libcurl4
      - libxml2
    state: present
  become: yes

- name: create swift installation directory
  file:
    path: "{{ swift_install_path }}"
    state: directory
    mode: 0755
  become: yes

- name: download swift {{ swift_version }}
  get_url:
    url: https://download.swift.org/swift-{{ swift_version }}-release/ubuntu2404/swift-{{ swift_version }}-RELEASE/swift-{{ swift_version }}-RELEASE-ubuntu24.04.tar.gz
    dest: /tmp/swift-{{ swift_version }}-RELEASE-ubuntu24.04.tar.gz
    mode: 0644
  become: yes

- name: extract swift
  unarchive:
    src: /tmp/swift-{{ swift_version }}-RELEASE-ubuntu24.04.tar.gz
    dest: "{{ swift_install_path }}"
    remote_src: yes
    creates: "{{ swift_install_path }}/swift-{{ swift_version }}-RELEASE-ubuntu24.04"
  become: yes

- name: Configure Swift PATH in profile.d
  template:
    src: swift.sh.j2
    dest: /etc/profile.d/swift.sh
    mode: 0644
  become: yes
