#
# Managed by Ansible
#
# Log the Twitarr runtime logs to a consistent file.
:programname, isequal, "twitarr" {{ twitarr_logs_dir }}/swiftarr.log

# Stop further rule processing for logs that matched the filter above.
& stop
