---
#
# The JoCo Cruise Twitarr Server
#
- name: Server
  hosts: all
  vars_files:
    - ../vars/server.yaml
    - ../vars/secret.yaml
  roles:
    - apt
    - motd
    - filesystem
    - usersandgroups
    - sudo
    - dns
    - systemd
    - python
    - clitools
    - ulimits
    - sysctl
    - rsyslog
    - logrotate
    - docker
    - shell
    - firewall
    - ssh
    - network
    - twitarr
